<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 本文件由代码生成器自动完成 -->
<mapper namespace="com.moon.bible.mapper.tweettopic.TweetTopicMapper" >

  <!-- 字段与实体的映射 -->
  <resultMap id="BaseResultMap" type="com.moon.bible.entity.tweettopic.TweetTopic">
     <id column="id" property="id" jdbcType="BIGINT" />
	 <result column="topic_name" property="topicName" jdbcType="VARCHAR" />
	 <result column="creator" property="creator" jdbcType="BIGINT" />
	 <result column="creator_name" property="creatorName" jdbcType="VARCHAR" />
	 <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	 <result column="del_flag" property="delFlag" jdbcType="BIT" />
  </resultMap>

  <sql id="sql_where_like">
	<where>
		<if test="id !=null and id !=''">
			and `id` = #{id,jdbcType=BIGINT}
		</if>
		<if test="topicName !=null and topicName !=''">
			and `topic_name` like concat(concat("%",#{topicName,jdbcType=VARCHAR}),"%")
		</if>
		<if test="creator !=null">
			and `creator` = #{creator,jdbcType=BIGINT}
		</if>
		<if test="creatorName !=null and creatorName !=''">
			and `creator_name` = #{creatorName,jdbcType=VARCHAR}
		</if>
		<if test="createTime !=null">
		</if>
		<if test="delFlag !=null">
			and `del_flag` = #{delFlag,jdbcType=INTEGER}
		</if>
	</where>
  </sql>
  <!-- 字段集合 -->
  <sql id="Base_Column_List">
    id,topic_name,creator,creator_name,create_time,del_flag
  </sql>

  <!-- 根据条件模糊查询 -->
  <select id="searchDataLike" resultMap="BaseResultMap" parameterType="com.moon.bible.entity.tweettopic.TweetTopic">
    select 
    <include refid="Base_Column_List" />
    from `tweet_topic` 
    <include refid="sql_where_like" />
    <if test="orderSql !=null and orderSql !='' ">   
      order by ${orderSql}
    </if>
  </select>

</mapper>
